*{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 30px ;    
}

h1{
    font:{
        family: $font1;
        size: 2em;
        weight:900;
    }
    color:$brand1;
    letter-spacing: 3px;
}

h2{
    font:{
        family: $font1;
        size: 1.6em;
        weight:700;
    }
    color:$brand2;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h3{ 
    font:{
        family: $font1;
        size: 1.2em;
        weight:700;
    }
    color:$brand1;
}

h4{
    font:{
        family: $font2;
        size: 1em;
        weight:500;
    }
    color:$brand1;
}
 
h5{
    font:{
        family: $font2;
        size: 1em;
        weight:700;
    }
    margin-bottom: 3vh;
    color:$brand1;
}

h6{
    font:{
        family: $font2;
        size: 0.9em;
        weight:400;
    }
}

p{ 
    font:{
        family: $font2;
        size: 0.75em;
        weight:400;
    }
    margin:0;
    color: $gray1; 
    line-height:2em;
   
}

a, button{
    text-decoration:none;
    font:{
        size:0.875em;
    }
}

nav{
    a{
        font:{
            family: $font1;
            size: 1em;
            weight:800;
        }
        text-decoration:none;
        color: $brand1;
    }
}
ul,li{
    padding:0;
}
li{
    margin-bottom: 5px;
    list-style: none;
    font:{
        size:0.875em;
    }
}

.fas{
    color: $brand1;
}

img{
    box-shadow: 4px 4px 100px rgba($black, 0.3); 
}

section{
    padding-left:20vw;
    padding-top:100px;
    // width: calc(100vw - 150px);
    padding-right: 20vw;
    
}


/*******************      Button       ********************/

.btn{
    border: 1px solid $black;
    padding: 10px 0;
    background: $black;
}

button{
    border:none;
    background:none;
    outline: none;
}















